= form_tag '/search_photos', class: "form-horizontal" do
  %fieldset
    %legend Search Flickr Photos - The Test API!
    .form-group
      .col-md-4
        %input#textinput.form-control.input-md{:name => "search_params", :placeholder => "Example - kitty", :type => "text"}
    .form-group
      .col-md-4
        %button#singlebutton.btn.btn-primary{:name => "singlebutton", type: "submit"} Button


.container
  .row
    - @photos.each do |photo|
      .col-lg-4.col-sm-6.col-xs-12
        %a{:href => "#"}
          %img.thumbnail.img-responsive{src: "#{get_photo_url(photo)}"}
    