%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Search Settings", {:controller => 'home', :action => 'view_search_settings'}
        
